.dashboard-counts {
  display: flex;
  flex-direction: column;
  margin: 12px;
  gap: 10px;
}

.dashboard-categories {
  display: flex;
  flex-direction: row;
  border: 2px solid #000;
  padding: 5px;
  width: 33%;
  align-items: center;
  justify-content: space-evenly;
} 

.dashboard-products {
  display: flex;
  flex-direction: row;
  border: 2px solid #000;
  padding: 5px;
  width: 33%;
  align-items: center;
  justify-content: space-evenly;
}

.glyphicon {
  font-size: 18px;
}
